<div class="container" style="background-color: rgba(255,255,255,0.6);">
 <table class="table">
   <thead>
     <tr>
       <th>Product Name</th>
       <th>Description</th>
       <th>Stock</th>
       <th>Delete Product</th>
       <th>Edit Product</th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="product in theProducts">
       <th>{{product.name}}</th>
       <th>{{product.description}}</th>
       <th>{{product.stock}}</th>
       <th>
         <button class="glyphicon glyphicon-remove" ng-click="deleteProduct(product._id)">
         </button>
       </th>
       <th>
         <button class="glyphicon glyphicon-pencil" ng-click="goToProductSettings(product)">
         </button>
       </th>
     </tr>
   </tbody>
 </table>
</div>
