<div>
    <h1>Your Cart:</h1>
    <form name="cartform" novalidate>
        <div ng-repeat="cartItem in cart">
            <img class="cart-thumb" ng-src="{{cartItem.description.image}}" ui-sref="product({productId: cartItem.productInfo._id})">
            <h5>Item: {{cartItem.description.name}}</h5>
            <h5>Price: {{cartItem.description.price}}</h5>
            <h5>Quantity:</h5>
            <input ng-model="cartItem.quantity" ng-keypress="updateQuantity(cartItem, $event)" type="number" value={{cartItem.quantity}}>
            <button>
                <span class="glyphicon glyphicon-minus" ng-click="updateQuantity(cartItem)">Remove from Cart</span>
            </button>
             <button>
                <span class="glyphicon glyphicon-minus" ng-click="updateQuantity(cartItem)">Remove from Cart</span>
            </button>
        </div>
    </form>
    <button class="checkout glyphicon glyphicon-usd" ng-click="checkOut()">CHECKOUT</button>
</div>
