<div class="container" style="margin-left: 10%;">
  <div class="all-products">
    <div ng-repeat="cartItem in cart">
      <div class="panel panel-primary" id="single-product-panel">
        <div class="panel-body">
          <img class="cart-thumb" height="100px" width="500px" ng-src="{{cartItem.description.image}}" ui-sref="product({productId: cartItem.productInfo._id})">
        </div>
        <div class="panel-footer">
          <h1>{{cartItem.description.name}}</h1>
          <h3 id="cart-price">${{cartItem.description.price * cartItem.quantity}}</h3>
          <h5 id="quantity">Quantity: <input size= "20" id="quantity-input" ng-model="cartItem.quantity" ng-keypress="updateQuantity(cartItem, $event)" type="number" value={{cartItem.quantity}}> </h5>
          <button type="button" id="remove-from-cart" class="btn btn-danger" ng-click="removeFromCart(cartItem)">Remove from Cart</span>
          </div>
        </div>
      </div>
  </div>
  <h1 ng-hide="cart.length">Nothing here!</h1>
<button ng-show="cart.length" type="button" class="btn btn-primary btn-lg btn-block" ui-sref="shippingBilling">Checkout</button>
