* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cart-thumb {
  height: 300px;
}

.all-products{
  width: 80vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group{
  display: flex;
  flex-direction: column;

}

single-product {
  height: 200px;
  width: 200px;
}

.row {
  margin-left: 3vw;
}

#main {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 90vh;
  width: 99vw;
}

sidebar {
  height: 100%;
  width: 19vw;
  background-color: lightgrey;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
