* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  margin-left: 3vw;
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

sidebar {
  position: absolute;
  height: 100vh;
  padding: 1vw;
  background-color: lightgrey;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
