* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  height: 100vh;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cart-thumb {
  height: 300px;
}

.all-products{
  width: 80vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group{
  display: flex;
  flex-direction: column;
}

single-product {
  height: 200px;
  width: 200px;
  padding: 10px;
}

.single-product {
  height: 200px;
  width: 200px;
  padding: 10px;
}

#main {

  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

sidebar {
  height: 100%;
  width: 20vw;
  background-color: lightgrey;
  padding: 0 20px;
}


.type-btn.active{
  background-color: darken(#dddddd, 30%);
}
.type-btn {
  width: auto;
  margin: 2px;
  padding: 3px;
  border-radius: 10px;
}

.all-products{
  margin-right: -20px;
  padding-right: 20px;
  width: 80vw;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
