<sidebar>
        <form name="sidebarForm" novalidate>
          <div class="form-group">
            <h4>Categories</h4>
            <label ng-repeat='category in filter.categories'>
            <input  ng-checked="category.status" ng-click='typeCategoryClick($event)' type='checkbox'>{{category.name}}
            </label>

            <h4 class='type-btn-holder'>Filter by tags</br></br>
            <button class='btn btn-sm type-btn' ng-click='typeButtonClick($event)' ng-class="{active: !tag.status}" ng-repeat='tag in filter.tags'   >{{tag.name}}</button>
            </h4>

            <h4>Filter by description</h4>
            <input type='input' class='input input-large form-control' placeholder="Enter Description" ng-model='filter.description' name="description"></div>

           <button type='button' ng-click=clearFilters() class="btn btn-default">Clear</button>

          </div>
        </form>
        </sidebar>


<div class='all-products'>
       <single-product the-product="product" ng-repeat="product in products" ui-sref="product({productId: product._id})"></single-product>
 <div class='all-products'>


