<div class="jumbotron jumbotron-fluid" id="single-product-page">
  <img class="singleProduct" height="300"id="single-product-image" ng-src="{{ theProduct.image }}">
  <div class="container">
    <h1>{{ theProduct.name }}</h1>
    <p>Description: {{ theProduct.description }}</p>
    <p>Price: ${{ theProduct.price }}</p>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addToCart()" ng-show="theProduct.stock > 0">Add to Cart</button>
 -  <span class="glyphicon glyphicon-list-alt
 -" ng-show="theProduct.stock <= 0"> OUT OF STOCK :(</span>
    <div ng-repeat="review in theProduct.reviews">
      <p>Review object is: {{review}}</p>
      <p>Stars: {{review.numStars}}</p>
      <p>Review by: {{review.user.username}}</p>
      <p>{{review.text}}</p>
    </div>
  </div>
</div>
