.unavailable {
  text-decoration: line-through;
  .thumbnail {
  background-color: #D3D3D3;
  }
}


#single-product-image {
  margin-left: 25%;
    padding: 9px;
    border-image-source: url('/js/product/images/frame.jpg');
    border-image-slice: 15 fill;
    border-image-repeat: stretch;
}

#single-product-page {
  border: 1px solid black;
  margin: auto;
}
